@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1>Stylists!</h1>

@if (@Model.Count == 0)
{
  <h3>No Stylists</h3>
}
else{
<ul>
@foreach(Stylist stylist in Model)
{
<li>@Html.ActionLink($"{stylist.Name} : {stylist.DateHired}",  "Details",  new {id = stylist.StylistId })</li>
}
</ul>
}
<p class="link">@Html.ActionLink("Add new Stylist", "Create")</p>
<p class="link">@Html.ActionLink("Go To Homepage", "Index", "Home")</p>



<a href="/">Back to Claire's Salon Home</a> 
