@{
  Layout = "_Layout";
}

<h1>New Stylist Form</h1>

<form action='/stylists' method="post">
  <label for="stylistName">Stylist Name</label>
  <input id="stylistName" name="stylistName" type="text">
  <button type="submit">Add Stylist</button>
</form>

<p><a href='/stylists'>Stylist List</a></p>