@{
  Layout = "_Layout";
}


<h1>Claire's Salon Log</h1>

<h1>Stylist Log</h1>

<p>@Html.ActionLink("All Stylists", "Index", "Stylists")</p>

<p>@Html.ActionLink("All Clients", "Index", "Clients")</p>
