@{
  Layout = "_Layout";
}


<h1>Claire's Salon Log</h1>
<p>Stylists <a href='/stylists'>here!</a></p>

<p>Your Stylists <a href='/stylists/new'>here!</a></p>




<p>@Html.ActionLink("All Salon Clients", "Index", "Clients")</p>
<p>@Html.ActionLink("All Stylists", "Index", "Stylists")</p>