@{
  Layout = "_Layout";
}


<h1>Claire's Salon Log</h1>
<p>Stylists <a href='/stylists'>here!</a></p>

<p>Check out your current stylists <a href='/vendors/new'>here!</a></p>

<p><a href='/stylists/new'>add a new stylist</a></p>