@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1>Stylists!</h1>

@if (Model.Count == 0){

<h2>No Clients!</h2>
} 
else {
}
  <ul>
    @foreach(Client client in Model)
    {
      <li>@Html.ActionLink($"{client.ClientName} : {client.Stylist.Name}", "Details", new {id = client.ClientId})</li>
    }
<p class="link">@Html.ActionLink("Add new client", "Create")</p>
<hr />
<p class = "link">@Html.ActionLink("Go to Homepage", "Index", "Home")</p>
